* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
h1,
h2,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

:root {
  /* Custom Variables */
  --primary-color: crimson;
  --secondary-color: rgb(255, 248, 250);
  --light-color: rgb(255, 231, 235);
  --light-dark-color: rgb(255, 118, 141);
  --linear-gradient-color: linear-gradient(90deg, tomato, purple);
  --dark-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-radius: 0.35rem;
  --box-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

/* Navbar */
.navbar .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.55rem;
  color: var(--primary-color);
}
.navbar {
  box-shadow: 0px 4px 8px var(--shadow-color);
}
.navbar img {
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 1rem;
  display: block;
  width: 130px;
  height: auto;
}
.search-bar {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.search-bar .input-group {
  width: 100%;
  position: relative;
}
.search-bar .input-group ::placeholder {
  font-size: small;
}

.search-bar .input-group i {
  position: absolute;
  top: 50%;
  right: 0.1rem;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: #f8f9fa;
  padding: 0.35rem 0.7rem;
  border-radius: 50%;
  font-size: 1.1rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.search-bar .form-control {
  width: 100%;
  height: 3rem;
  border-radius: 0 5px 5px 0;
  border: none;
  padding-right: 2.5rem;
  box-shadow: 0px 4px 8px var(--shadow-color);
}

.search-bar .input-group-text {
  display: none;
}

.search-bar i {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 1000;
}

.navbar .btn {
  border-radius: 5px;
}

.navbar .btn-primary {
  margin-left: 10px;
}

.nav-item a {
  font-size: small;
  color: black;
  font-weight: 900;
}

.course {
  background-color: var(--primary-color);
  padding: 0.1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: #fff;
  display: inline-block;
  text-align: center;
  position: relative;
}

.course .nav-link i {
  margin-left: 0.5rem;
}

.apply {
  background-color: var(--primary-color);
  padding: 0.4rem;
  font-size: small;
  font-weight: 900;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.apply:hover {
  background-color: var(--primary-color);
}

.login {
  font-weight: 900;
  font-size: small;
  padding: 0.4rem 0.8rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

/* Hero section */
.section1 {
  background: linear-gradient(to bottom, #e0e0e0, #f5f5f5);
}

.hero-section .container {
  background-image: url("../assets/ladyprofessional.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 1.3rem;
  border-radius: var(--border-radius);
  display: block;
}

.hero-section .fw-bold span {
  color: var(--primary-color);
}

.hero-section .explore {
  padding: 0.15rem 1.3rem;
  width: 110px;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.hero-section .login {
  padding: 0.15rem 1.3rem;
  width: 100px;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: none;
}

/* Search section */
.search-con {
  background-color: #fff;
}

.search-section {
  border-radius: var(--border-radius);
  padding: 0.5rem 0.4rem;
}

.search-section .learn {
  border: 1px solid grey;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.2rem;
  font-size: small;
}

.search-section button {
  color: var(--light-dark-color);
  background-color: var(--light-color);
  box-shadow: var(--box-shadow);
}

/* Popular courses */
.parentrow {
  align-items: stretch;
}
.popular-courses .card {
  height: 500px;
  margin-left: 20px;
  flex: 1;
}
.popular-courses .card .header {
  font-size: 20px;
  font-weight: bolder;
  line-height: 1.1;
  background: var(--linear-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.popular-courses .programme-text {
  font-size: small;
}

.alignment-wrapper {
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;
}
.alignment-wrapper .content-1 {
  align-items: center;
  justify-content: center;
  padding: 1px;
  flex: 1;
}
.alignment-wrapper .content-2 {
  align-items: center;
  justify-content: center;
  padding: 1px;
  flex: 1;
}
.popular-courses .content-1 .access {
  border-radius: 1rem;
  color: var(--light-dark-color);
  background-color: var(--light-color);
  padding: 0.4rem 0.5rem;
  margin: 5px auto;
  font-size: 12px;
  width: 100%;
}

.alignment-wrapper .content-2 .d-flex {
  flex-direction: column;
  margin: 10px;
}

.alignment-wrapper .content-2 .offer p {
  margin: 0;
}

.alignment-wrapper .content-2 .offer {
  margin: 0;
  padding: 10px;
}

.alignment-wrapper .content-2 .d-flex.flex-row {
  margin: 0;
}
.alignment-wrapper .content-2 .offer .d-flex.flex-row {
  align-items: center;
}
.alignment-wrapper .content-2 .offer .d-flex.flex-row p .amount {
  font-size: 10px;
  text-decoration: line-through;
}

.alignment-wrapper .content-2 .d-flex p,
.alignment-wrapper .content-2 .d-flex h5 {
  margin: 0;
  line-height: 1;
}

.alignment-wrapper .content-2 .d-flex p {
  font-size: small;
}
.alignment-wrapper .content-2 .d-flex h5 {
  font-size: large;
  font-weight: bolder;
  margin-top: 4px;
}

.popular-courses .align-button {
  background-color: #007bff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 12px 0px;
  font-size: small;
}

.popular-courses .details-btn {
  margin-top: 0.5rem;
}

.popular-courses .details {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 12px 10px;
  font-size: 12px;
}

.popular-courses .fa-chevron-right {
  font-size: 8.5px;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: none;
  border: none;
}

.page-link .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
}

.page-item {
  margin: 0 3px;
}

.page-item.active .page-link .dot {
  background-color: #007bff;
}

.page-link:hover .dot {
  background-color: #0056b3;
}

/* Course Details */
.course-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem;
}

.course-details .card {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#bg {
  background-image: url("../assets/Pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.course-details .card .inner {
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  align-items: flex-start;
}
.course-details .card .inner h4 {
  font-weight: bolder;
  line-height: 1.4;
}
.course-details .card .inner p {
  font-size: 11px;
  font-weight: 500;
}
.course-details .card .inner .explore {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.course-details-wrapper {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.course-details-wrapper p span {
  font-size: 12px;
  text-decoration: line-through;
  font-weight: bolder;
  display: inline-block;
  margin-left: 4px;
  transform: translateY(-4px);
}

.section1 .course-details .bg-pry {
  background-color: blue;
}

.section1 .course-details .bg-tomato {
  background-color: tomato;
}

.course-details .cardalign h4 {
  line-height: 1.2;
  margin: 0;
  font-size: 13px;
  font-weight: bolder;
}

.course-details .cardalign p {
  line-height: 1.5;
  margin: 0;
  font-size: 10px;
  font-weight: 500;
}

.course-details .cardalign .detailsbtn {
  margin: 8px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  color: white;
  font-size: 12px;
  padding: 14px;
  text-align: center;
}

.course-details .image {
  height: auto;
  width: 100%;
  object-fit: contain;
  display: block;
}

.course-details .image-wrapper {
  position: relative;
}

.course-details .buttons-wrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
}

.course-details .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 231, 235);
  padding: 6px 12px;
  border-radius: 12px;
}

.course-details .btn-container i {
  color: rgb(255, 118, 141);
}

.course-details .icon-text {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
}

/* Certificate details */
.section2 {
  background-color: var(--secondary-color);
}

.section2 .container {
  padding: 2rem 1.5rem;
}

.section2 .container h4 {
  font-size: 2.1rem;
  font-weight: bolder;
  line-height: 1;
}

.section2 .container .upskill {
  font-size: 0.73rem;
  line-height: 1;
}

.certificate-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem;
}

.certificate-details .card {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.certificate-details .card .inner {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  align-items: flex-start;
}
.certificate-details .card .inner h4 {
  font-weight: bolder;
  line-height: 1.4;
}
.certificate-details .card .inner p {
  font-size: 10px;
  font-weight: 500;
}
.certificate-details .card .inner .explore {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.section2 .certificate-details .bg-pry {
  background-color: blue;
}

.section2 .certificate-details .bg-tomato {
  background-color: tomato;
}

/* Find Course Section */
.section3 {
  background-color: #fff;
}
.section3 .findcourse-details {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
}

.section3 .findcourse-details .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.section3 .findcourse-details .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.section3 .findcourse-details .right-column h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.section3 .findcourse-details .right-column p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.section3 .findcourse-details .right-column button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Right Column Buttons Section */
.section3 .right-column {
  padding: 2rem;
}

.section3 .right-column h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  position: relative;
  background: var(--linear-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.section3 .right-column h2::after {
  content: "";
  display: block;
  width: 3.5rem;
  height: 4px;
  background-color: #000;
  margin-top: 0.5rem;
  margin-left: 0;
}

.section3 .right-column p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #333;
}

.section3 .popular-topics h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section3 .right-paragraph {
  font-size: 10px;
}

.section3 .bold {
  font-weight: bolder;
}

.section3 .topic-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.section3 .topic-buttons button {
  color: var(--light-dark-color) !important;
  background-color: var(--light-color) !important;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow);
}

/* Testimonial */
.section4 {
  background-color: var(--secondary-color);
}
.section4 .testimonials {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1.5rem;
  padding: 1rem;
}
/* left column testimonial*/
.section4 .testimonials .left-column {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4 .testimonials .left-column h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  position: relative;
  background: var(--linear-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.section4 .testimonials .left-column h2::after {
  content: "";
  display: block;
  width: 5.4rem;
  height: 4px;
  background-color: #000;
  margin-top: 0.75rem;
  margin-left: 0;
}

.section4 .testimonials .left-column .left-paragraph {
  margin-bottom: 1.5rem;
  font-size: 12px;
  color: #333;
}
/* right Column testimonial */
.section4 .testimonials .right-column {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section4 .pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}
.section4 .pagination-btn {
  background-color: var(--light-color);
  color: var(--light-dark-color);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.section4 .testimonials .right-column .inner-right-column {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 1rem;
  align-items: center;
  margin: auto;
}
.section4 .testimonials .right-column .inner-right-column .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 40px;
}
.section4 .testimonials .right-column .inner-right-column .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.section4 .testimonials .right-column .flex-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section4 .contact-name {
  flex-direction: column;
}
.section4 .contact-name h4 {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
.section4 .contact-name p {
  font-size: 12px;
  font-style: italic;
  line-height: 1;
  margin: 0;
}
.section4 .contact-details {
  flex-direction: column;
}
.section4 .contact-details h4 {
  font-size: 24px;
  line-height: 0;
}
.section4 .contact-details p {
  font-size: 12px;
  line-height: 0;
  font-weight: bold;
}
.section4 .contact-text {
  font-size: 14px;
}

/* Footer Section Styles */
.section5 {
  background-color: var(--dark-color);
}

.section5 .footer-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  align-items: start;
}

.section5 .footer-section .footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.section5 .footer-section .footer-inner h6 {
  font-weight: bolder;
}

.section5 .footer-section .list-unstyled a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}

.section5 .footer-section h6 {
  font-size: 1.25rem;
  line-height: 1;
}

.section5 .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section5 .footer-section ul li {
  margin-bottom: 0.5rem;
  line-height: 0;
  margin: 0;
  padding: 1rem;
}

.section5 .footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 11px;
}

.section5 .footer-section ul li a:hover {
  color: #ff5252;
}

.section5 .newsletter-section {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section5 .newsletter-section .newsletter-text h6 {
  font-size: 18px;
  font-weight: bolder;
  justify-content: center;
}

.section5 .newsletter-section .newsletter-text p {
  font-size: 11px;
  justify-content: center;
}

.newsletter-form form {
  position: relative;
}
.newsletter-form input {
  width: 400px;
}
.newsletter-form button {
  width: 100px;
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  padding: 2px 0px;
  z-index: 2000;
}

.newsletter-form ::placeholder {
  font-size: 11px;
}

.section5 .footer-section .newsletter-section button:hover {
  background-color: #e60000;
}

.section5 .social-icons {
  font-size: 1rem;
  justify-content: space-between;
  width: 100px;
}

.section5 .footer-section .social-icons a {
  color: #fff;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.section5 .footer-section .social-icons a:hover {
  color: #ff5252;
}

.section5 .newsletter-section {
  align-items: center;
  justify-content: space-between;
}

.section5 .footer-bottom {
  align-items: center;
  justify-content: space-between;
}

.section5 .footer-copyright {
  font-size: 10px;
  align-items: center !important;
  justify-content: center !important;
}
.section5 .pagination-btn {
  background-color: #fff;
  color: var(--light-dark-color) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 2px;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.section5 .pagination-btn i {
  font-size: 20px;
}

/* Responsive Design */

/* Responsiveness for medium screens */
@media (max-width: 2560px) and (min-width: 1441px) {
  .popular-courses .details-btn {
    margin-top: 1.6rem;
  }
}
@media (max-width: 1440px) and (min-width: 1200px) {
  .popular-courses .details-btn {
    margin-top: 1.85rem;
  }
  .popular-courses .card {
    height: 500px;
  }
  .search-bar .input-group {
    width: 100%;
  }
  .nav-item a {
    font-size: 12px;
  }
  .search-bar {
    width: 300px;
  }
  .section4 .testimonials .right-column .inner-right-column {
    grid-template-columns: 35% 65%;
  }
}
@media (max-width: 1199px) and (min-width: 1023px) {
  .popular-courses .card {
    height: 550px;
  }
  .search-bar .input-group {
    width: 100%;
  }
  .nav-item a {
    font-size: 12px;
  }
  .search-bar {
    width: 300px;
  }
  .section4 .testimonials .right-column .inner-right-column {
    grid-template-columns: 45% 55%;
  }
}
@media (max-width: 1022px) and (min-width: 992px) {
  .search-bar .input-group {
    width: 100%;
  }
  .nav-item a {
    font-size: 12px;
  }
  .search-bar {
    width: 300px;
  }
  .popular-courses .card {
    height: 550px;
  }
  .popular-courses .details-btn {
    margin-top: 1.85rem;
  }
  .course-details .btn-container {
    padding: 6px 3px;
  }
  .section4 .testimonials {
    grid-template-columns: 30% 70%;
  }
  .section4 .testimonials .right-column .inner-right-column {
    grid-template-columns: 40% 60%;
  }
  .left-column {
    margin-top: 65px !important;
  }
}
@media (max-width: 991px) and (min-width: 769px) {
  .navbar .navbar-brand {
    font-size: 1.25rem;
  }
  .navbar .nav-link {
    font-size: 0.9rem;
  }
  .navbar .navbar-nav .course {
    margin-top: 1rem !important;
    margin-left: 0;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar .search-bar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar .search-bar .form-control {
    height: 2.5rem;
  }
  .navbar .search-bar i {
    right: 0.5rem;
  }
  .navbar .login,
  .apply {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    margin-top: 10px;
  }
  .hero-section .explore {
    padding: 0.15rem 1.3rem;
    width: 110px;
    font-size: 12px;
  }
  .hero-section .login {
    padding: 0.15rem 1.3rem;
    width: 100px;
    font-size: 12px;
  }
  .search-section .learn {
    font-size: 10px;
  }
  .form-select {
    font-size: 13px;
  }
  .search-section button {
    font-size: 11px;
  }
  .popular-courses .card {
    margin: auto;
    margin-left: 24px;
    height: 700px;
    flex: 1;
  }
  .popular-courses .details-btn {
    margin-top: 0.3rem;
  }
  .left-p {
    padding-top: 18px;
  }
  .course-details .card .inner p {
    font-size: 13px;
  }
  .course-details .card .inner h4 {
    font-size: 27px;
    line-height: 1;
  }
  .course-details .cardalign h4 {
    font-size: 17px;
  }
  .course-details .cardalign p {
    font-size: 12px;
  }
  .course-details .icon-text {
    font-size: 16px;
  }
  .certificate-details .card .inner p {
    font-size: 14px;
  }
  .section3.grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .section3 .image-container {
    height: auto;
  }
  .section3 .findcourse-details {
    display: grid;
    grid-template-columns: 100%;
  }
  .section4 .testimonials {
    display: grid;
    grid-template-columns: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .section4 .testimonials .left-column h2 {
    font-size: 1.6rem;
  }
  .topic-buttons {
    justify-content: center;
  }
  .footer-section .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer-section .grid-container > div {
    flex: 1 1 100%;
  }
  .section5 .newsletter-section .newsletter-text p {
    font-size: 9px;
  }
  .newsletter-form input {
    width: 300px;
  }
  .newsletter-form button {
    width: 100px;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    padding: 2px 0px;
    z-index: 2000;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .navbar .navbar-brand {
    font-size: 1.25rem;
  }
  .navbar .nav-link {
    font-size: 0.9rem;
  }
  .navbar .navbar-nav .course {
    margin-top: 1rem !important;
    margin-left: 0;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar .search-bar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar .search-bar .form-control {
    height: 2.5rem;
  }
  .navbar .search-bar i {
    right: 0.5rem;
  }
  .navbar .login,
  .apply {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    margin-top: 10px;
  }
  .hero-section .explore {
    padding: 0.15rem 1.3rem;
    width: 110px;
    font-size: 12px;
  }
  .hero-section .login {
    padding: 0.15rem 1.3rem;
    width: 100px;
    font-size: 12px;
  }
  .search-section .learn {
    font-size: 10px;
  }
  .form-select {
    font-size: 13px;
  }
  .search-section button {
    font-size: 11px;
  }
  .popular-courses .card {
    margin: auto;
    margin-left: 24px;
    flex: 1;
    height: 550px;
  }
  .popular-courses .details-btn {
    margin-top: 0.3rem;
  }
  .left-p {
    padding-top: 18px;
  }
  .course-details .card .inner p {
    font-size: 13px;
  }
  .course-details .card .inner h4 {
    font-size: 27px;
    line-height: 1;
  }
  .course-details .cardalign h4 {
    font-size: 17px;
  }
  .course-details .cardalign p {
    font-size: 12px;
  }
  .course-details .icon-text {
    font-size: 16px;
  }
  .certificate-details .card .inner p {
    font-size: 14px;
  }
  .section3.grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .section3 .image-container {
    height: auto;
  }
  .section3 .findcourse-details {
    display: grid;
    grid-template-columns: 100%;
  }
  .section4 .testimonials {
    display: grid;
    grid-template-columns: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .section4 .testimonials .left-column h2 {
    font-size: 1.6rem;
  }
  .topic-buttons {
    justify-content: center;
  }
  .footer-section .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer-section .grid-container > div {
    flex: 1 1 100%;
  }
  .section5 .newsletter-section .newsletter-text p {
    font-size: 9px;
  }
  .newsletter-form input {
    width: 300px;
  }
  .newsletter-form button {
    width: 100px;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    padding: 2px 0px;
    z-index: 2000;
  }
  .section4 .testimonials .right-column .inner-right-column {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section4 .testimonials .right-column .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .navbar .navbar-brand {
    font-size: 1.25rem;
  }
  .navbar .nav-link {
    font-size: 0.9rem;
  }
  .navbar .navbar-nav .course {
    margin-top: 1rem !important;
    margin-left: 0;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar .search-bar {
    width: 100%; /* Take most of the width */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column; /* Stack inputs if needed */
    align-items: center;
    justify-content: center;
  }
  .navbar .search-bar .form-control {
    height: 2.5rem; /* Adjust input height for smaller screens */
  }
  .navbar .search-bar i {
    right: 0.5rem; /* Adjust icon position */
  }
  .navbar .login,
  .apply {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    margin-top: 10px;
  }
  .hero-section .explore {
    padding: 0.15rem 1.3rem;
    width: 110px;
    font-size: 12px;
  }
  .hero-section .login {
    padding: 0.15rem 1.3rem;
    width: 100px;
    font-size: 12px;
  }
  .search-section .learn {
    font-size: 10px;
  }
  .form-select {
    font-size: 13px;
  }
  .search-section button {
    font-size: 11px;
  }
  .popular-courses .card {
    margin: 0px auto;
    flex: 1;
    height: 550px;
  }
  .popular-courses .card2 {
    padding-top: 4px;
  }
  .popular-courses > .fa-chevron-left,
  .popular-courses > .fa-chevron-right {
    display: none !important;
  }
  .left-p {
    padding-top: 18px;
  }
  .course-details .card .inner p {
    font-size: 13px;
  }
  .course-details .card .inner h4 {
    font-size: 27px;
    line-height: 1;
  }
  .course-details .cardalign h4 {
    font-size: 19px;
  }
  .course-details .cardalign p {
    font-size: 13px;
  }
  .course-details .icon-text {
    font-size: 12px;
  }
  .certificate-details .card .inner p {
    font-size: 14px;
  }
  .course-details {
    grid-template-columns: 1fr;
  }
  .certificate-details {
    grid-template-columns: 1fr;
  }
  .section3.grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .section3 .image-container {
    height: auto;
  }
  .section3 .findcourse-details {
    display: grid;
    grid-template-columns: 100%;
  }
  .section4 .testimonials {
    display: grid;
    grid-template-columns: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .section4 .testimonials .left-column h2 {
    font-size: 1.6rem;
  }
  .topic-buttons {
    justify-content: center;
  }
  .footer-section .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer-section .grid-container > div {
    flex: 1 1 100%;
  }
  .section5 .newsletter-section .newsletter-text p {
    font-size: 9px;
  }
  .newsletter-form input {
    width: 300px;
  }
  .newsletter-form button {
    width: 100px;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    padding: 2px 0px;
    z-index: 2000;
  }
  .section4 .testimonials .right-column .inner-right-column {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .section4 .d-flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .section5 .footer-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section5 .footer-section .footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section5 .newsletter-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .section5 .newsletter-section .newsletter-text h6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    justify-content: center;
  }
  .section5 .newsletter-section .newsletter-text p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    justify-content: center;
  }
  .section5 .footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section5 .social-icons {
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
  .popular-topics .topic-buttons {
    flex-direction: column;
  }
  .search-section .learn {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section4 .contact-text {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .popular-courses .card {
    height: 600px;
}
}
@media (max-width: 425px) {
  .popular-courses .card {
    height: 600px;
    margin: auto;
  }
  .popular-courses .card1 {
    margin-left: 10px;
  }
  .popular-courses .card2 {
    margin-left: 10px;
  }
  .search-con form {
    margin-left: none !important;
  }
  .search-section .learn {
    font-size: 11px;
  }
  .popular-topics .topic-buttons {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .popular-courses .card {
    height: 700px;
    margin: auto;
  }
}
@media (max-width: 320px) {
  .popular-courses .card {
    height: 800px;
    margin: auto;
  }
  .alignment-wrapper {
    flex-direction: column;
  }
}
