* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  /* Custom Variables */
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-radius: 0.35rem;
  --box-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

/* Navbar */
.navbar {
  box-shadow: 0px 4px 8px var(--shadow-color);
}

.search-bar {
  position: relative;
  width: 500px;
}

.search-bar .input-group {
  width: 100%;
}
.search-bar .input-group ::placeholder {
  font-size: small;
}

.search-bar .input-group i {
  background: crimson;
  color: #f8f9fa;
  padding: 0.35rem 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
}

.search-bar .form-control {
  width: 100%;
  height: 3rem;
  border-radius: 0 5px 5px 0;
  border: none;
  padding-right: 2.5rem;
  box-shadow: 0px 4px 8px var(--shadow-color);
}

.search-bar .input-group-text {
  display: none;
}

.search-bar i {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 1000;
}

.navbar .btn {
  border-radius: 5px;
}

.navbar .btn-primary {
  margin-left: 10px;
}

.nav-item a {
  font-size: small;
  color: black;
  font-weight: 900;
}

.course {
  background: crimson;
  padding: 0.1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: #fff;
  display: inline-block;
  text-align: center;
  position: relative;
}

.course .nav-link i {
  margin-left: 0.5rem;
}

.apply {
  background: crimson;
  padding: 0.4rem;
  font-size: small;
  font-weight: 900;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.login {
  border: 1px solid darkgray;
  font-weight: 900;
  font-size: small;
  padding: 0.4rem 0.8rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

/* Hero section */
.section1 {
  background: linear-gradient(to bottom, #e0e0e0, #f5f5f5);
}
.hero-section .container {
  background-image: url("../assets/ladyprofessional.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 1.3rem;
  border-radius: var(--border-radius);
}

.hero-section .fw-bold span {
  color: crimson;
}

.hero-section .explore {
  padding: 0.85rem 3rem;
  min-width: 160px;
  text-align: center;
  color: #fff;
  background-color: crimson;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.hero-section .login {
  padding: 0.85rem 3rem;
  min-width: 250px;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: none;
}

/* Search section */
.search-con {
  background-color: #fff;
}

.search-section {
  border-radius: var(--border-radius);
  padding: 0.5rem 0.4rem;
}

.search-section .learn {
  border: 1px solid grey;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.2rem;
  font-size: small;
}

.search-section button {
  background-color: crimson;
  color: #fff;
  box-shadow: var(--box-shadow);
}

.search-section button:hover {
  background-color: crimson;
  color: #fff;
}

/* Popular courses */
.parentrow {
  justify-content: flex-start !important; /* Force alignment to the left */
}

.content1,
.content2 {
  text-align: left; /* Ensure inner text aligns left */
}

.popular-courses .card {
  margin: auto;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-courses .parentrow {
  margin: auto;
  gap: 3;
}

.card-body .content1 {
  flex: 2;
  padding-left: 0;
}

.card-body .content2 .amount {
  text-decoration: line-through;
}

.popular-courses .row {
  display: flex;
  align-items: flex-start;
}

.popular-courses .content1 .access {
  border-radius: 1rem;
  background-color: crimson;
  margin: 1rem;
  padding: 0.4rem;
  color: #fff;
  font-size: small;
}

.popular-courses .row.g-12 {
  margin-left: 0;
  margin-right: 0;
}

.card-body .content2 p {
  margin-bottom: 0.2rem;
}

.card-body .content2 > div {
  margin-bottom: 1rem;
}
.popular-courses .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.popular-courses .details {
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: none;
  border: none;
}

.page-link .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
}

.page-item {
  margin: 0 3px; /* Add horizontal space between dots */
}

.page-item.active .page-link .dot {
  background-color: #007bff; /* Active dot color */
}

.page-link:hover .dot {
  background-color: #0056b3; /* Hover dot color */
}
